$bg: #000;
$header: #14213d;
$highlight: #fca311;
$border-light: lighten($highlight, 10%);

$lgray: #e5e5e5;
$blue: #457b9d;
$white: #ffffff;
$red: #e63946;

$yel: #e9c46a;
$lorange: #f4a261;

$darkgray: #1c1c1c;
