@import "./skills/skills";

// About

.about {
  color: $lgray;
  background: $darkgray;
  width: 100%;

  .about-me {
    margin: 0 auto;
    padding: 8rem 0;
    width: 90%;
    text-align: center;

    h1 {
      display: inline-block;
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 3.1rem;

      margin-bottom: 60px;
      font-size: 3rem;
      text-transform: uppercase;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 5px;
        border-radius: 100px;
        width: 70%;
        background: $highlight;
        opacity: 0.7;
      }
    }

    .about-container {
      display: flex;
      margin: 50px 0;

      .about-img {
        width: 100%;
        max-width: 624px;
        // max-height: 570px;
        background: $highlight;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transition: background 0.4s ease;
          background: $lgray;

          img {
            width: 75%;
            transition: all 0.4s ease;
          }
        }

        img {
          width: 70%;
        }
      }

      .about-info-container {
        max-width: 700px;
        min-height: 500px;
        margin-left: 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .about-statement {
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 300;
          letter-spacing: normal;
          line-height: 2rem;
        }

        .about-bio {
          margin: 60px 0;

          li {
            margin-bottom: 20px;
            list-style: none;
            display: flex;

            b {
              min-width: 100px;
              display: inline-block;
              margin-right: 5px;
              color: $blue;
            }
          }
        }

        .resume-btn {
          width: 200px;
          // height: 100%;
          padding: 10px 30px;
          // margin-top: 30px;
          display: inline-block;
          background: $highlight;
          color: $white;
          border: 0;
          text-transform: uppercase;
          // font-size: 20px;
          // height: 50px;
          text-align: center;
          text-decoration: none;
          transition: all 0.4s ease-out;

          &:hover {
            background: darken(blue, 20%);
          }
        }
      }
    }
  }

  .values {
    display: flex;
    // margin: 40px 0;

    li {
      width: 100%;
      text-align: center;
      // border: 1px solid red;
      padding: 0 20px;

      div {
        font-size: 3rem;
        color: $highlight;
      }

      h4 {
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin: 5px 0;
      }

      p {
        color: $lgray;
        font-weight: 300;
        font-size: 0.9rem;
      }
    }
  }
}
