// Skills

.skill-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $header;
  text-align: center;

  .skill {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 1rem;
    color: $lgray;
    width: 150px;
    transition: all 0.2s ease;
    border: 1px dotted transparent;

    &:hover {
      border: 1px #444 dotted;
      i {
        transform: scale(1.1);
      }
    }

    i {
      font-size: 3rem;
      margin-bottom: 5px;
      transition: all 0.2s ease;
      transform: scale(0.9);
    }
  }
}
