// footer

.footer {
  background: $bg;
  width: 100%;

  padding: 3rem 0;
  position: relative;
  text-align: center;

  .returntotop-btn {
    position: absolute;
    // width: 50px;
    padding: 5px;
    top: -10px;
    // left: 50%;
    // left: 50%;
    color: white;
    text-decoration: none;
    background: gray;
    transition: all 0.2s;
    // width: 100%;

    span {
      transform: rotate(-90deg);
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover {
      background: $highlight;

      span {
        color: white;
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
    .left {
      // width: 40%;
      text-align: left;

      h3 {
        margin-bottom: 0.5rem;
        color: $white;
      }

      .contact {
        margin-top: 0.5rem;
        color: $white;
        font-size: 0.8rem;
        font-weight: 300;

        .email {
          color: $highlight;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .copyright {
        margin-top: 1rem;
        color: $lgray;
        font-weight: 100;
        font-size: 0.7rem;
        text-transform: uppercase;
        span {
          color: $highlight;
        }
      }
    }

    .right {
      // height: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      // width: 40%;
      .social-icons {
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
          margin: 0 15px;

          a {
            display: inline-block;
            background: lighten($darkgray, $amount: 10%);

            text-decoration: none;
            width: 60px;
            height: 60px;
            font-size: 2rem;

            &:hover {
              transition: all 0.4s;
              background: $highlight;
              transform: scale(0.9);
            }

            .flex-icon {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                color: white;
                animation-duration: 0.4s;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
